.navbar-brand-container {
    margin-left: 20px;
}

.content-box {
    padding: 20px;
}

.green-box {
    background-color: #30e7c6;
    border-radius: 15px;
    padding: 20px;
    max-width: 100%;
    max-height: 200px; 
    overflow: hidden; 
}

.green-box p {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
}

.custom-link {
    color: #27a891;
    text-align: center;
}


@media (max-width: 768px) {
    .content-box {
        padding: 10px;
    }

    .green-box {
        padding: 10px;
        max-height: 150px; 
    }

    .green-box p {
        font-size: 1.2em;
    }
}
.custom-progress-bar {
    background-color: #0DC7B1; /* Replace #ff5733 with your desired color code */
  }