

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    padding-left: 0;  /* Remove left padding */
    padding-right: 0; /* Remove right padding */
}

form {
    width: auto;
    max-width: 100%; 
}


#ex1 {
    margin-left: 0;
    display: flex;
    justify-content: left;
}



.navbar {
    margin-top: 0;
}

.content-box {
    border: 1px solid #e0e0e0;  /* light border */
    background-color: #f9f9f9;  /* light background color */
    border-radius: 10px;  /* rounded corners */
    padding: 20px;  /* space inside the box */
    margin: 20px 0;  /* space outside the box */
    display: flex;
    flex-wrap: wrap;
}
.service-btn:hover {
    background-color: #2A80A5;
    color: #2AC0A5;
}
.service-btn {
    background-color: white;
    color: #2AC0A5;
}
.mission {
    text-align: justify;
    text-justify: inter-word;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 275px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.img-fluid {
    height: 100%;
    object-fit: cover;
    display: block;  /* Make the image a block element */
    margin-left: auto;  /* Push the image to the right */
    margin-right: 0;  /* No margin on the right */
    width: 100%;
}

.tab-content {
    max-width: 100%;  /* Allow it to take the full width */
    padding-left: 0; 
    margin-left: 0;
}


footer {
    width: 100%;
    margin-top: auto;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #2AC0A5;
}

.nav-pills .nav-link:hover {
    background-color: #1B9078;
    font-weight: bold;
}

.btn-primary {
    background-color: #2AC0A5;
    border-color: #2AC0A5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #1B9078;
    border-color: #1B9078;
    font-weight: bold;
}

.btn-block {
    width: 80%;  /* Adjust as needed */
    margin: 0 auto;
}

form input, form label, form button, form a {
    font-size: 1.2rem; 
}

.form-check-input:checked {
    background-color: #2AC0A5;
    border-color: #2AC0A5;
}

.row > .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
}

/* Adjust the form content */
.col-md-6.ms-0 .tab-content {
    padding-left: 0;
    padding-right: 0;
}

/* Adjust the image alignment */
.col-md-6.me-0 img {
    margin-left: 0;
    margin-right: 0;
}

#tab-login {
    margin-right: 20px; /* Adjust this value as needed */
}

/* Increase the margin-top for the pills container */
.nav.nav-pills {
    margin-top: 20px; /* Adjust this value as needed */
}

.nav-pills .nav-link {
    color: black; /* Default color */
}

.nav-pills .nav-link.active {
    color: white; /* Active tab color */
}
