#map {
    width: 100%;
    height: 50vh;  /* 50% of the viewport height */
}

.confirm-button {
    background-color: #2AC0A5;
    width: 300px;
    max-width: 100%; /* Makes sure the button doesn't overflow on smaller screens */
}
.custom-progress-bar {
    background-color: #0DC7B1; /* Replace #ff5733 with your desired color code */
  }
  .green-line {
    border: none;
    background-color:#0DC7B1;
    height: 4px; /* Adjust the height as needed for thickness */
    width: 20%; /* Adjust the width as needed for length */
    margin: 0 auto; /* Center the line horizontally */
  }
  