.everything{
    grid-area: 1/1/1/1;

  }
.navbar-brand-container {
    margin-left: 20px;
}

.green-box {
    background-color: #30e7c6;
    border-radius: 15px;
    padding: 20px;
    max-width: 50%;
    max-height: 700px; 
    margin-top:100px;
    margin-left:50px;
}

.green-box p {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    text-align: left;
}

.accept-req{
    display: flex;
    margin-left: 20px;
}




