.service-icon {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* Makes the image circular */
    background-color: #2AC0A5; /* Green background */
    padding: 10px; /* Space between image and green circle */
    box-sizing: border-box; /* Ensures padding doesn't increase total size */
    display: block; /* Makes it easier to center using margin auto */
    margin: 0 auto 15px; /* Centers horizontally and adds space below */
}
h2 {
    font-family: 'Poppins', sans-serif;
}
.card {
    height: 100%; /* Making sure that all the service boxes have same height */
}

.selected-service {
    background-color: #1E8F7D;
    color: #f8f9fa;
    border: 2px solid #2AC0A5;
}

.next-button {
    background-color: #2AC0A5;
    width: 150px;
}

.next-button:hover {
    background-color: #006400;
    color: #f8f9fa;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa; /* This is the default background color for `.bg-light` in Bootstrap */
}

main {
    flex: 1;
    background-color: transparent; /* Ensure that the body's background color shows through */
}
.custom-progress-bar {
    background-color: #0DC7B1; /* Replace #ff5733 with your desired color code */
  }
  .green-line {
    border: none;
    background-color:#0DC7B1;
    height: 4px; /* Adjust the height as needed for thickness */
    width: 20%; /* Adjust the width as needed for length */
    margin: 0 auto; /* Center the line horizontally */
  }